@font-face {
    font-family: netflix;
     src: url(../font/NetflixSans-Light.otf);
   
}
@font-face {
    font-family: netflix-bold;
    src: url(../font/NetflixSans_W_Bd.woff2);
   
   
}
@font-face {
    font-family: netflix-P;
    src: url(../font/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2);
   
   
}


*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: white;
    font-family: netflix, sans-serif;

}


html {
    background:linear-gradient(to bottom, rgb(0, 0, 0));
}

body {
    background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)),
    url(../img-netflix/Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
   height: 100vh;
   width: 100%;
   
}
header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 5px 100px;
  background-color: #000000a3;
  box-shadow: 0 20px 16px 0 rgba(0,0,0,0.5); 
  height: 100px;
  
}
.Netfliximg img {
  position: relative;
  left:80px;
  top: -80px;
  width: 200px;   
  height: auto;
  
}
.buttonAccedi{
  position: relative;
  right: 50px;
  background-color: rgba(255, 0, 0, 0.87);
  width: 80px;
  height: 30px;
  border: 1px solid  rgba(255, 0, 0, 0.87);
  border-radius: 5px;
  
}
.buttonAccedi > a{
  position: relative;
 text-decoration: none;
 font-family: netflix-bold;
 left: 20%;
 top: 15%;
 font-size: 14px;
}
.buttonAccedi:hover{
  background-color: rgba(255, 0, 0, 0.679);
}
.language-wrapper {
  position: relative;
  display: inline-block;
  font-family: Arial, sans-serif;
  right: 60px;
  
}

.language-button {
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.475);
  border-radius: 5px;
  color: white;
  font-size: 16px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-weight: 500;
}
.language-button.active {
  border: 2px solid white;
  border-radius: 10px;
  width: 135px;
  height: 40px;
}

.lang-icon {
  font-size: 18px;
}

.arrow {
  font-size: 12px;
  margin-left: auto;
}

.language-dropdown {
  display: none;
  position: absolute;
  top: 105%;
  left: 0;
  background-color: #4b4a4a8f;
  border-radius: 6px;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  z-index: 999;
}

.language-dropdown li {
  padding: 10px 16px;
  color: white;
  cursor: pointer;
}

.language-dropdown li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

h1{
    text-align: center;
    font-size: 56px;
    font-family: netflix-bold;
    
}
.conteinerlogin{
    display: flex;
    justify-self: center;
    align-items: center;
    height: 100vh;
    width: 40%;
    
    
}

.netlog-p{
    text-align: center;
    font-size: 20px;
    font-family: netflix-bold;
    font-weight: medium;
}
.loginh4{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 10px;
    font-family: netflix, sans-serif;
    font-size: 16px;
    font-weight: medium;
    
    
}

input#email{
  position: relative;
    left: 5%;
    width: 420px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.333);
    border: 1px solid rgba(247, 247, 247, 0.333);
    color: rgb(255, 253, 253);
    border-radius: 5px;
    font-family: netflix;
    font-size: medium;
    margin: 20px;
}
.button-log {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 60px;
    background-color: rgb(254, 10, 22);
    border: 1px solid rgb(193, 17, 25);
    font-family: netflix-bold;
    font-size: 25px;
    border-radius: 5px;
    margin-top: 20px;
    
    

}
.button-log:hover {
    background-color: rgb(193, 17, 25);
    transition: background-color 0.3s ease;
}
.button-container{
    position: relative;
    left: 71.5%;
    top: -100px;

}
#iconButtonLogin {
    position: relative;
    left: 3%;
    top: -0%;
    color: white;
    font-size: 35px;
}

.notification-section{
    display: flex;
    justify-content: center;
     transition: transform 0.4s ease; 
     width: 100%;
     
}

.notification { 
    background: linear-gradient(90deg,rgba(54, 13, 87, 0.719), #200e5b95); 
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    width: 1250px; 
    height: 80px;
    position: relative; 
    margin-top: -5%;
    
   
}

.notification:hover {
    transform: scale(1.05); 
    
}

.icon {
    
    font-size: 50px; 
    margin-right: 15px;
    position: absolute; 
    left: -70px;
    top: 30%;
    transform: translateY(-50%); 
    
}

.message {
    flex: 1;
}


.message h2 {
    margin: 0;
    font-size: 18px;
    
}

.message p {
    
    padding: 0%;
    font-size: 14px;
}

.close-btn {
    background-color: rgb(65, 66, 89);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: netflix-bold;
    font-size: 14px;
}
.containerTop10{
    position: relative;
    left: 10%;
    width: 88%;
   
    
}

.titoli10p{
margin-right: 80%;
margin-top: 50px;
margin-bottom: 10px;
font-size: 25px;
font-family: netflix-bold;
font-weight: bold;
}
img{
    height: 250px;
    border-radius: 10px;
    
}

.top0, .top1, .top2, .top3, .top4, .top5, .top6, .top7, .top8, .top9 {
    font-size: 100px;
    left: -15px;
    position: absolute;
    bottom: 8px;   
    color: black;
    font-family: netflix-bold;
    font-weight: bold;
    z-index: 2;
    pointer-events: none;

    /* Contorno branco */
    text-shadow:
        -1px -2px 0 rgb(208, 208, 208),
         2px -2px 0 rgb(208, 208, 208),
        -2px  2px 0 rgb(208, 208, 208),
         2px  2px 0 rgb(208, 208, 208),
         0px -2px 0 rgb(208, 208, 208),
         2px  0px 0 rgb(208, 208, 208),
         0px  2px 0 rgb(208, 208, 208),
        -2px  0px 0 rgb(208, 208, 208);
}


div#top10{
display: flex;
overflow-x: auto;
overflow-y: hidden;
width: 90%;
gap: 20px;

}
.flex-img{
    transform: scale(1);
    transition: transform 0.3s;
    display: flex;
    padding: 10px;
    align-content: space-evenly;

}
.flex-img:hover{
    transform: scale(1.05);
}

.madal > h2{
display: flex;
justify-content: center;
align-items: center;
}

.modal {
  display: none;
  position: fixed;      
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.7); 
  justify-content: center;
  align-items: center;
}
.modal-content {
  background: #00000083;
  padding: 32px;
  border-radius: 12px;
  position: relative;
  max-width: 40vw;
  max-height: 100vh;
  overflow: auto;
}
.modal-H2{
  text-align: center;
  margin-bottom: 20px;
  font-size: 3rem;
  color: #912d2d;
 
}
.background-p-card{
  margin: 10px;
}



/* modidificazione container section cards */

.titleCatds {
 position: relative;
 left: 10%;
 top: 40px;
 font-family: netflix-bold;
}
.cads-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px ;
  
}


.cards-container {
  display: flex;
  gap: 20px;
 
} 

/* modificazione di cards */

.card {
  background: linear-gradient(to bottom, #2d0b41, #0f051e);
  border-radius: 16px;
  padding: 20px;
  position: relative;
  width: 320px;
  min-height: 280px;
 font-size: 14px;
}

 h3 {
  font-size: 25px;
  margin-bottom: 10px;
  font-family: netflix-bold;
  
  
}


.card-p{
    color:rgb(187, 186, 193);
    font-family: netflix-P;
}
.icon {
  position: absolute;
  bottom: 16px;
  right: 16px;
  width: 32px;
  height: 32px;
}
.icons-Cards{
  position: relative;
  left: 70%;
  top: 40px;
  height: 80px;
}

/* --- Reasons Section --- */


.reasons-section {
    padding: 2.5rem 1rem;
    text-align: center;
}

.cards-grid {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 1.5rem;
    max-width: 1000px;
    margin: 0 auto;
}

.card {
    background-color: #1a1a1a;
    padding: 1.5rem;
    border-radius: 0.5rem;
    text-align: left; 
}

.card-title {
    font-size: 1.3rem;
    margin-bottom: 0.75rem;
}

.card-description {
    font-size: 0.95rem;
    color: #ccc;
}

/* --- FAQ Section --- */
.faq-section {
    padding: 2.5rem 1rem;
    text-align: center;
    
}

.faq-container {
    max-width: 80%;
    margin: 0 auto;
}

.section-title{
  margin-bottom: 20px;
  font-family: netflix-bold;
}
.faq-item {
    background-color: #2d2d2d;
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
}

.faq-question {
    background-color: #2d2d2d;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.25rem;
    border: none;
    cursor: pointer;
    font-size: 1.1rem; 
    text-align: left;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;
}


.faq-question:hover {
    background-color: #404040;
}

.faq-question h3 {
    margin: 0;
    font-weight: normal;
}

.faq-icon {
    font-size: 1.8rem;
    transition: transform 0.3s ease;
}



.faq-answer {
    display: none; /* Controlled by JS */
    padding: 1.25rem;
    padding-top: 0;
    text-align: left;
    border-top: 1px solid #000; 
    font-size: 1rem; 
}
.material-icons-outlined {
  position: relative;
  left: 45%;
  top: -25px;

}

.faq-answer {
  display: none;
  margin-top: 0.5rem;
  color: #bbb;
}

.questionContact {
  padding: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

.questionContact input[type="email"] {
    position: relative;
    right: 5%;
  padding: 1rem;
  font-size: 16px;
  width: 620px;
  height: 55px;
  margin: 20px;
  border: 1px solid #898989;
  border-radius: 5px;
  background: transparent;
  
 
}

.button-dow[type="button"] {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #e50914;
  color: white;
  font-family: netflix-bold;
  width: 150px;
  height: 55px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 23px;
  top: -75px;
  left: 64.5%;
}
#icon-button {
  position: relative;
  left: 3%;
    top: -0%;
  
}



/* --- Main Footer --- */
.main-footer {
    padding: 2.5rem 1rem;
    background-color: rgba(0,0,0,0.9);
    color: #737373;
    font-size: 0.9rem;
    columns: 1;
}

.footer-contact-text {
    margin-bottom: 1.5rem;
    text-align: center;
}

.footer-contact-text .footer-link {
    color: #737373;
    text-decoration: underline;
    transition: color 0.3s ease;
}

.footer-contact-text .footer-link:hover {
    color: #aaa;
}

.footer-links-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 0.8rem; 
    list-style: none;
    max-width: 900px;
    margin: 0 auto 1.5rem auto;
}

.footer-links-grid li a {
    color: #737373;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links-grid li a:hover {
    color: #aaa;
    text-decoration: underline;
}

.footer-language-selector {
    margin: 1.5rem auto;
    width: fit-content; 
}

.netflix-country {
    text-align: center;
    font-size: 0.8rem;
    margin-top: 1rem;
}

@font-face {
    font-family: netflix;
     src: url(../font/NetflixSans-Light.otf);
}
@font-face {
    font-family: netflix-bold;
    src: url(../font/NetflixSans_W_Bd.woff2);
}
@font-face {
    font-family: netflix-P;
    src: url(../font/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2);
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100%;
    background: linear-gradient(to bottom, rgb(0, 0, 0));
    color: white;
    font-family: netflix, sans-serif;
}

body {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)), url(../img-netflix/Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}



@media (max-width: 600px) {

  .Netfliximg img {
    position: relative;
    right: 80px;
    width: 140px;
  }

  .buttonAccedi  {
    left: 60px;
    top: 3px;

  }

  .language-wrapper {
   display: none;
    
  }

  .conteinerlogin {
    width: 90%;
    flex-direction: column;
  }
  .conteinerlogin h1 {
    font-size: 35px;
    margin-top: 40%;
  }
  .conteinerlogin h2,
  .conteinerlogin .netlog-p {
    font-size: 10px;
  }

  .loginh4{
    width: 400px;
  }
  

  input#email {
    width: 90%;
    left: 0;
  }

  .button-container {
    left: 85%;
    transform: translateX(-50%);
    top: 0;
  
  }

  .notification {
    flex-direction: column;
    width: 90%;
    padding: 15px;
    height: auto;
    text-align: center;
  }

  .icon {
    position: static;
    margin: 0 auto 10px auto;
  }

  .containerTop10 {
    left: 0;
    width: 100%;
    padding: 0 10px;
  }

  .titoli10p {
    margin: 20px 0 10px 0;
    text-align: center;
  }
  img{
    width: 150px;
    
  }

  div#top10 {
   background-color: #00000087;
   box-shadow: 0 20px 16px 0 rgba(0,0,0,0.5); 
   height: 220px;
  }

  .modal-content {
    max-width: 100%;
    max-height: 500px;
    padding: 20px;
    overflow: hidden;
    background-color: #00000083;
  }
  iframe{
    width: 450px;
   
  }
  .icons-Cards{
    width: 100px;
  }

  .cads-section {
    flex-direction: column;
    padding: 20px;
  }

  .cards-container {
    flex-direction: column;
    align-items: center;
  }
  .titleCatds{ 
    position: relative;
    left: 15%;
    margin: 20px;
  }

  .card {
    margin: auto;
    width: 90%;
  }

  .faq-container {
    max-width: 100%;
  }
  .section-title{
    margin-bottom: 20px;
  }

  .questionContact input[type="email"] {
    width: 90%;
    margin: 10px 0;
    right: 0;
  }

  .button-dow[type="button"] {
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    margin-top: 10px;
  }

  .footer-links-grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 10px;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  header {
    padding: 10px 40px;
  }
  .language-button{
    position: relative;
    right: 210px;
    top: 3px;
  }

  .Netfliximg img {
    width: 160px;
  }

  .buttonAccedi {
    position: relative;
   top: 2%;
  }

  .language-wrapper {
    position: relative;
    top: -3px;
    left: 150px;
  }
    

  .conteinerlogin {
    width: 70%;
  }

  input#email {
  left: -50px;
    width: 80%;
  }

  .button-container {
    left: 78%;
    top: -100px;
  }

  .notification {
    width: 80%;
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  .icon {
    left: -50px;
  }

  .titoli10p {
    margin: 20px 0 10px 0;
    text-align: center;
  }

  .containerTop10 {
    width: 100vw;
    left: 2.5%;
    background-color: #00000087;
   box-shadow: 0 20px 16px 0 rgba(0,0,0,0.5);
    
  }
  .titleCatds{ 
    position: relative;
    left: 30%;
    margin-top: 50px;
   
  }

  .cards-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    width: 45%;
  }
  .section-title{
    margin-bottom: 20px;
  }

  .questionContact input[type="email"] {
    width: 50%;
    right: 95px;
    margin: 20px;
  }

  .button-dow[type="button"] {
    left: 65%;
  }

  .footer-links-grid {
    grid-template-columns: repeat(3, 1fr);
  
  }
}



