@font-face {
    font-family: netflix;
    src: url(../font/NetflixSans_W_Bd.woff2);
     
   
}


*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: white;
    font-family: netflix;
    font-weight: bolder;
    
   

}

body {
    background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)),
    url(../img-netflix/Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   height: 100vh;
   
}
h1{
    text-align: center;
    font-size: 60px;
    
}
#funter {
    display: flex;
    flex-flow: column;
    justify-content: center;  
    align-items: center;       
    min-height: 100vh;  
  margin-top: 200px;   
}
.netlog{
   
    width: 700px;
    height: 300px;
    padding: 30px;
    margin-bottom: 20%;
}
.netlog-p{
    text-align: center;
}
p{
    display: flex;
    flex-flow: column-reverse;
    padding: 10px;
    
   
    
}

input.email{
    width: 450px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.333);
    border: 1px solid rgba(247, 247, 247, 0.333);
    color: rgb(255, 253, 253);
    border-radius: 5px;
    font-size: 16px;
    margin: 20px;
    
   
}
.button-log {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 60px;
    background-color: rgb(193, 17, 25);
    border: 1px solid rgb(193, 17, 25);
    font-size: 25px;
    border-radius: 5px;
    margin-top: 20px;
     margin-right: 0%;
    

}
.button-container{
    position: relative;
    left: 75%;
    top: -100px;
}

.notification-section{
    display: flex;
    justify-content: center;
     transition: transform 0.4s ease; /* Transición suave para el zoom */
     width: 100%;
}

.notification {
    background: linear-gradient(90deg,rgb(53, 33, 94), #19193C); /* Fondo degradado */
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    width: 1200px; /* Ajustar el ancho */
    height: 70px;
    position: relative; /* Para posicionar el icono */
    margin-bottom: 20px; /* Espacio desde el fondo */
    
}

.notification:hover {
    transform: scale(1.05); /* Efecto de zoom al pasar el mouse */
}

.icon {
    
    font-size: 50px; /* Tamaño del icono */
    margin-right: 15px;
    position: absolute; /* Posicionar el icono */
    left: -70px;
    top: 30%; /* Centrar verticalmente */
    transform: translateY(-50%); /* Ajustar el centrado */
}

.message {
    flex: 1;
}

.message h2 {
    margin: 0;
    font-size: 18px;
}

.message p {
    padding: 0%;
    font-size: 14px;
}

.close-btn {
    background-color: rgb(65, 66, 89);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 14px;
}


.titoli10p{
margin-right: 80%;
margin-top: 50px;
margin-bottom: 10px;
font-size: 25px;
}
img{
    height: 300px;
    border-radius: 10px;
    
}

.top0,.top1,.top2, .top3, .top4, .top5, .top6, .top7, .top8, .top9{
    font-size: 100px;
    left: -15px;
     position: absolute;
    bottom: 8px;   
    color: black;
    font-weight: bold;
    
}

div#top10{
display: flex;
overflow-x: auto;
width: 90%;

}
.flex-img{
    transform: scale(1);
    transition: transform 0.3s;
    display: flex;
    padding: 10px;
 
    align-content: space-evenly;

}
.flex-img:hover{
    /* ao passar o mouse */
    transform: scale(1.05);
}




/* modidificazione container section cards */
.benefits-section {
  padding: 60px 20px;
  max-width: 1800px;
  margin: auto;
}

.benefits-section h2 {
  font-size: 28px;
  margin-bottom: 4px;
  font-weight: bold;
}

.cards-container {
  display: flex;
  flex-flow: row;
  gap: 20px;
}
/* modificazione di cards */
.card {
  background: linear-gradient(to bottom, #2d0b41, #0f051e);
  border-radius: 16px;
  padding: 20px;
  position: relative;
  width: 350px;
  min-height: 300px;
 
}

.card-text h3 {
  font-size: 25px;
  margin-bottom: 10px;
}

.card-text p {
  font-size: 14px;
  line-height: 1.4;
}
.card-p{
    color:rgb(187, 186, 193);
}
.icon {
  position: absolute;
  bottom: 16px;
  right: 16px;
  width: 32px;
  height: 32px;
}
/* modificafopne FAQ-section  */
#faq-section {
    display: flex;
    flex-direction: column; 
    padding: 60px 20px;
    width: 90vw;
    gap: 0;

}



.faq-question {
 background-color: rgb(65, 65, 65);
  padding: 20px;
  margin: 0;
 cursor: pointer; 
  height: 80px;
  
  
}
.faq-question:hover{
    background-color: rgb(91, 91, 91);
    transition: 0.3s;
}
.faq-header h2 {
  font-size: 28px;
  margin-bottom: 10px;
  color: violet;

}
.faq-item h3 {
    font-size: 25px;
  line-height: 1.4;
  color:white;
}
.faq-answer {
    display: none;
  font-size: 14px;
  color: white;
  width: 90vw;
  height:100px;
 background-color: aqua;
  
}
.material-icons-outlined{
    
  position: relative;
    left: 96.5%;
    top: -45px;
    color: white;
    
   
  
    
}
/* Footer */






